# Ignore environment files
.env
.env.*

# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
